.footer{
    background: url(../images/webrand/footer.png) center / cover no-repeat;
    
    .silochka{
     list-style: none;
     padding: 10px 20px;
     margin-bottom:20px;
     margin-left: 10px;
     background: #0F0F0F;
  }
  .kekich{
     text-decoration: none;
     color: #D0D0D0;
  }
  &__silka{
      display: flex;
  }
  .tegi{
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
 .col{
    margin-right: 20px;
    margin-left: 31px;
 }
.sorry{
    height: 10%;
}
.row{
  padding: 3% 15% 5%;
}
}