.header {
    width: 100%;
    background-color: #0F0F0F;
    position: absolute;
  
    .navbar {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      &-nav {
        display: flex;
        height: 100%;
        list-style: none;
        align-items: center;
      }
  
      .nav-item {
        height: 80px;
        color: #969696;
  
        &:hover {
          background-color: #1F1F1F;
          color: white;
        }
      }
  
      .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        height: 100%;
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }