.time-8 {
    background-color: #000;
    padding-top: 120px;
    padding-bottom: 150px;
    color: #fff;

    .row {
        max-width: 1109px;
        margin: 0 auto;
        flex-wrap: wrap;
        column-gap: 23px;
        row-gap: 40px;
    }
    .col{
        flex: 1;
    }
    .watch-card__img{
      width: 259px;
    }
}
